#editor {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:50%;
    height:100%
}

#output {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:50%;
    width:50%;
    height:100%;
}

.node rect, 
.node circle,
.node ellipse,
.node polygon {
    stroke: #000000;
    fill: #cccccc;
    stroke-width: 1.5px;
}

.edgePath path {
    stroke: #666666;
    fill: #333333;
    stroke-width: 1.5px;
}